body {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
}
h2{
color:maroon;					
}

a
{
	color: #000000;	
    text-decoration: none;
}
table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
}